<div class="modal-header">
    <h4 class="modal-title">Crear elemento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="fromElementos" (ngSubmit)="saveElemento()">
  
      <div class="form-group">
        <label for="title">Titulo*</label>
        <input type="text" id="title" placeholder="Saludo" class="form-control" formControlName="title" />
        <span style="color:Red;" *ngIf="fromElementos.controls['title'].touched && fromElementos.controls['title'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group">
        <label for="subtitle">Subtitulo*</label>
        <input type="text" id="subtitle" placeholder="Hola!" class="form-control" formControlName="subtitle" />
        <span style="color:Red;" *ngIf="fromElementos.controls['subtitle'].touched && fromElementos.controls['subtitle'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group">
        <label for="image_url">URL de la imagen*</label>
        <input type="text" id="image_url" placeholder="Hola!" class="form-control" formControlName="image_url" />
        <span style="color:Red;" *ngIf="fromElementos.controls['image_url'].touched && fromElementos.controls['image_url'].errors?.required">Dato requerido.</span>
      </div>

      <div class="form-group" *ngIf="this.globals.bandera_slide_nx == 'Una transición por elemento'">
          <label for="opc_nextid">Opciones de siguiente estado*</label>
          <select name="OS" id="opc_nextid" placeholder="Selecciona opcion" class="form-control" formControlName="opc_nextid" required>
            <option value="Generar automaticamente">Generar automaticamente</option>
            <option value="Seleccionar de la lista">Seleccionar de la lista</option>
          </select>
          <span style="color:Red;" *ngIf="fromElementos.controls['opc_nextid'].touched && fromElementos.controls['opc_nextid'].errors?.required">Dato requerido.</span>
        </div>
    
        <div class="form-group" *ngIf="fromElementos.value.opc_nextid == 'Seleccionar de la lista'">
          <label for="nextid">Seleccionar siguiente estado</label>
          <select name="OS" id="nextid" placeholder="Selecciona un estado" class="form-control" formControlName="nextid" *ngIf="globals.AllBlocks">
            <option *ngFor="let nameST of states, let index=index" [value]="nameST">{{nameST}}</option>
          </select>
          <span style="color:Red;" *ngIf="fromElementos.controls['nextid'].touched && fromElementos.controls['nextid'].errors?.required">Dato requerido.</span>
        </div>
    
        <div class="form-group" *ngIf="fromElementos.value.opc_nextid == 'Generar automaticamente'">
          <label for="nextid">Siguiente estado</label>
          <input type="text" id="nextid" placeholder="" class="form-control" formControlName="nextid" readonly="readonly" />
          <span style="color:Red;" *ngIf="fromElementos.controls['nextid'].touched && fromElementos.controls['nextid'].errors?.required">Dato requerido.</span>
        </div>
    
  
      <div class="form-group">
        <label for="btn1Title">BOTON 1:</label>
        <label for="btn1Title">Titulo</label>
        <input type="text" id="btn1Title" placeholder="Titulo del boton" class="form-control" formControlName="btn1Title" />
        <label for="btn1Type">Tipo</label>
        <select name="OS" id="btn1Type" placeholder="Selecciona opcion" class="form-control" formControlName="btn1Type">
          <option value="postback">postback</option>
          <option value="web_url">web_url</option>
        </select>
        <label for="btn1Cont">Contenido</label>
        <input type="text" id="btn1Cont" placeholder="Contenido del boton" class="form-control" formControlName="btn1Cont" />
        <span style="color:Red;" *ngIf="fromElementos.controls['btn1Title'].touched && fromElementos.controls['btn1Title'].errors?.required">Completar todos los campos del boton.</span>
        <span style="color:Red;" *ngIf="fromElementos.controls['btn1Type'].touched && fromElementos.controls['btn1Type'].errors?.required">Completar todos los campos del boton.</span>
        <span style="color:Red;" *ngIf="fromElementos.controls['btn1Cont'].touched && fromElementos.controls['btn1Cont'].errors?.required">Completar todos los campos del boton.</span>
      </div>
  
      <div class="form-group">
        <label for="btn2Title">BOTON 2:</label>
        <label for="btn2Title">Titulo</label>
        <input type="text" id="btn2Title" placeholder="Consultar" class="form-control" formControlName="btn2Title" />
        <label for="btn2Type">Tipo</label>
        <select name="OS" id="btn2Type" placeholder="Selecciona una opción de boton" class="form-control" formControlName="btn2Type" *ngIf="fromElementos.value.btn2Title == ''">
          <option value="postback">postback</option>
          <option value="web_url">web_url</option>
        </select>
        <select name="OS" id="btn2Type" placeholder="Selecciona una opción de boton" class="form-control" formControlName="btn2Type" *ngIf="fromElementos.value.btn2Title != ''" required>
          <option value="postback">postback</option>
          <option value="web_url">web_url</option>
        </select>
        <label for="btn2Cont">Contenido</label>
        <input type="text" id="btn2Cont" placeholder="Contenido del boton" class="form-control" formControlName="btn2Cont" *ngIf="fromElementos.value.btn2Title == ''" />
        <input type="text" id="btn2Cont" placeholder="Contenido del boton" class="form-control" formControlName="btn2Cont" *ngIf="fromElementos.value.btn2Title != ''" required />
        <span style="color:Red;" *ngIf=" fromElementos.value.btn2Title != '' && fromElementos.controls['btn2Type'].touched && fromElementos.controls['btn2Type'].errors?.required">Dato requerido.</span>
        <span style="color:Red;" *ngIf=" fromElementos.value.btn2Title != '' && fromElementos.controls['btn2Cont'].touched && fromElementos.controls['btn2Cont'].errors?.required">Dato requerido.</span>
      </div>
  
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button class="btn btn-primary" (click)="saveElemento()" [disabled]="fromElementos.invalid">Save</button>
  </div>
  