<div cdkDropListGroup class="tamlienzo">
   


        <table class="table table-striped">
            <tbody>
                <tr id="campo_btn2" *ngFor="let arrbloques of globals.AllBlocks , let index2 = index"  >
                    <button *ngIf="(globals.AllBlocks.length-1) > index2" mat-button (click)="addFila(index2)">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                    <button *ngIf="(globals.AllBlocks.length-1) > index2" mat-button (click)="deleteFila(index2)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                      <div class="example-box" >
                          <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                          [cdkDropListData]="arrbloques"
                          (cdkDropListDropped)="drop($event)">
                          
                            <div  *ngFor="let bloque of arrbloques" cdkDrag>
                            
                            <div *ngIf="bloque.blocktype == 'informativo'" class="conf" style="background: #1f5b25da" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="bloque.blocktype == 'input'" class="conf" style="background: #6923167a" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="bloque.blocktype == 'quickReply'" class="conf" style="background: #5a2fd3" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <div *ngIf="bloque.blocktype == 'slide'" class="conf" style="background: rgb(166, 60, 225)" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div *ngIf="bloque.blocktype == 'informativoDinamico'" class="conf" style="background: #b11b16" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div *ngIf="bloque.blocktype == 'slideDinamico'" class="conf" style="background: #636363" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div *ngIf="bloque.blocktype == 'inputDinamico'" class="conf" style="background: #000000" > 
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>                                    
                                              {{bloque.namestate}}
                                            </td>
                                            <td>
                                                <button id="campo_btn" mat-button (click)="handleEditClickBlk(bloque)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button id="campo_btn" mat-button (click)="handleDeleteClickBlk(bloque, index2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                                                        
                            <div style="position: relative; float: left;  width: 5px; height: 10px;"></div>                           
                            <div style="float: left;" *ngIf="(bloque.tags_entradas.length) > 0">
                                <button class="tag_left"  style="float: left;"  [matMenuTriggerFor]="afterMenu">
                                    <mat-icon class="icono_tag1">playlist_play</mat-icon>
                                </button>
                                  <mat-menu #afterMenu="matMenu" xPosition="after">
                            
                                        <table class="table table-striped">
                                              <thead>
                                                    <tr>
                                                        <th><h6 id="nombreU" class="card-header">Estados de entrada</h6></th>
                                                    </tr>
                                              </thead>
                                              <tbody>
                                                    <tr *ngFor="let tags of bloque.tags_entradas">
                                                          <th><p id="nombreU" class="card-text">  {{ tags }}  </p></th>
                                                    </tr>
                                              </tbody>
                                        </table>    
                            
                                  </mat-menu>
                            




                                <hr id="linea_tag_1" style="position: relative; background: gray; float: right; width: 5px; height: 1px; top:3px;"/>
                            </div>
                            
                            <div style="position: relative; float: right;  width: 5px; height: 10px;"></div> 
                            <div style="float: right;" *ngIf="bloque.opc_nextid == 'Seleccionar de la lista'">
                                <hr id="linea_tag_2" style="position: relative; background: gray; float: left; width: 5px; height: 1px; top:3px;"/>
                                <button class="tag_rigth" style="float: right;" [matMenuTriggerFor]="beforeMenu">
                                    <mat-icon class="icono_tag2">play_arrow</mat-icon>
                                </button>
                                <mat-menu #beforeMenu="matMenu" xPosition="before">
                            
                                    <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                    <th><h6 id="nombreU" class="card-header">Estado de salida</h6></th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <th><p id="nombreU" class="card-text">  {{ bloque.next_id }}  </p></th>
                                                </tr>
                                          </tbody>
                                    </table>    
                        
                              </mat-menu>
                            </div>
                            
                            
                         
                          </div>
                            
                        </div>


                        <div class="contenedor_lineas"  *ngFor="let bloque of arrbloques , let index3 = index ">
                            <hr *ngIf="index3 == 0 && (globals.AllBlocks.length-2) > index2" id="line_1" />
                            <hr *ngIf="index3 == 1 && (globals.AllBlocks.length-2) > index2" id="line_2" />
                            <hr *ngIf="index3 == 2 && (globals.AllBlocks.length-2) > index2" id="line_3" />
                            
                        </div>
                        


                      </div>
                </tr>
            </tbody>
        </table>
    
    
    </div>