<h5>Bloques:</h5>

<div class="ContenedorTools">
  <h6>Simples:</h6>
  <div class="conenedorBTNS">
  <button class="btn btn-primary" id="btnHerramienta1" (click)="addBlockInfo()" style="background-image: linear-gradient(to right, #1f5b25da 2%, white 35%)">Informativo</button><br>
  <button class="btn btn-primary" id="btnHerramienta2" (click)="addBlockInput()" style="background-image: linear-gradient(to right, #1E4DC2 2%, white 35%)">Input</button><br>
  <button class="btn btn-primary" id="btnHerramienta3" (click)="addBlockQR()" style="background-image: linear-gradient(to right, #5a2fd3 2%, white 35%)">QuickReply</button><br>
  <button class="btn btn-primary" id="btnHerramienta4" (click)="addBlockSlide()" style="background-image: linear-gradient(to right, #8770db 2%, white 35%)">Carrusel</button><br>
  <button class="btn btn-primary" id="btnHerramienta8" (click)="addBlockTicket()" style="background-image: linear-gradient(to right, #e2e622e3 2%, white 35%)">Ticket</button><br>
  </div>
  <br><h6>Dinamicos:</h6>
  <div class="conenedorBTNS">
  <button class="btn btn-primary" id="btnHerramienta5" (click)="addBlockInfoD()" style="background-image: linear-gradient(to right, #b11b16 2%, white 35%)">Informativo</button><br>
  <button class="btn btn-primary" id="btnHerramienta6" (click)="addBlockInputD()" style="background-image: linear-gradient(to right, #000000 2%, white 35%)">Input</button><br>
  <button class="btn btn-primary" id="btnHerramienta7" (click)="addBlockSlideD()" style="background-image: linear-gradient(to right, #636363 2%, white 35%)">Carrusel</button><br>
  </div>
</div>


