<h5>Bloques:</h5>

<div class="ContenedorTools">
  <h6>Simples:</h6>
  <div class="conenedorBTNS">
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockInfo()" style="background: #1f5b25da">Informativo</button><br>
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockInput()" style="background: #6923167a">Input</button><br>
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockQR()" style="background: #5a2fd3">QuickReply</button><br>
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockSlide()" style="background: #8770db">Carrusel</button><br>
  </div>
  <br><h6>Dinamicos:</h6>
  <div class="conenedorBTNS">
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockInfoD()" style="background: #b11b16">Informativo</button><br>
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockInputD()" style="background: #000000">Input</button><br>
  <button class="btn btn-primary" id="btnHerramienta" (click)="addBlockSlideD()" style="background: #636363">Carrusel</button><br>
  </div>
</div>


