<div class="modal-header">
    <h4 class="modal-title">{{createMode ? 'Crear bloque: Informativo Dinamico' : 'Editar bloque: Informativo Dinamico'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="fromBlksInfo" (ngSubmit)="saveBlockInfo()">
  
      <div class="form-group">
        <label for="namestate">Nombre del bloque*</label>
        <input type="text" id="namestate" placeholder="Saludo" class="form-control" formControlName="namestate" />
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['namestate'].touched && fromBlksInfo.controls['namestate'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group">
        <label for="contenido">Mensaje del bloque*</label>
        <input type="text" id="contenido" placeholder="Hola!" class="form-control" formControlName="contenido" />
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['contenido'].touched && fromBlksInfo.controls['contenido'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group">
        <label for="opc_nextid">Opciones de siguiente estado*</label>
        <select name="OS" id="opc_nextid" placeholder="Selecciona opcion" class="form-control" formControlName="opc_nextid">
          <option value="Generar automaticamente">Generar automaticamente</option>
          <option value="Seleccionar de la lista">Seleccionar de la lista</option>
        </select>
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['opc_nextid'].touched && fromBlksInfo.controls['opc_nextid'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group" *ngIf="fromBlksInfo.value.opc_nextid == 'Seleccionar de la lista'">
        <label for="next_id">Seleccionar siguiente estado</label>
        <select name="OS" id="next_id" placeholder="Selecciona un estado" class="form-control" formControlName="next_id" *ngIf="globals.AllBlocks">
          <option *ngFor="let nameST of states, let index=index" [value]="nameST">{{nameST}}</option>
        </select>
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['next_id'].touched && fromBlksInfo.controls['next_id'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group" *ngIf="fromBlksInfo.value.opc_nextid == 'Generar automaticamente'">
        <label for="next_id">Siguiente estado</label>
        <input type="text" id="next_id" placeholder="" class="form-control" formControlName="next_id" readonly="readonly" />
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['next_id'].touched && fromBlksInfo.controls['next_id'].errors?.required">Dato requerido.</span>
      </div>
  
      <div class="form-group">
        <label for="typingtime">Tiempo de respuesta*</label>
        <input type="text" id="typingtime" placeholder="4" class="form-control" formControlName="typingtime" />
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['typingtime'].touched && fromBlksInfo.controls['typingtime'].errors?.required">Dato requerido.</span>
      </div>

      <div class="form-group">
        <label for="link1">API: URL*</label>
        <input type="text" id="link1" placeholder="http://API" class="form-control" formControlName="link1" />
        <input type="text" id="link2" placeholder="http://API" class="form-control" formControlName="link2" />
        <span style="color:Red;" *ngIf="fromBlksInfo.controls['link1'].touched && fromBlksInfo.controls['link1'].errors?.required">Dato requerido.</span>
      </div>

      <div class="form-group">
        <label for="nomCredencial1">API: Nombre de la credenciale 1*</label>
        <input type="text" id="nomCredencial1" placeholder="NOM_ID" class="form-control" formControlName="nomCredencial1" />
        <label for="credencial1"  *ngIf=" fromBlksInfo.value.nomCredencial1 != '' ">API: Credenciales*</label>
        <input type="text" id="credencial1" placeholder="SDFGFFDS" class="form-control" formControlName="credencial1" *ngIf=" fromBlksInfo.value.nomCredencial1 != '' " required />

        <label for="nomCredencial2">API: Nombre de la credenciale 2*</label>
        <input type="text" id="nomCredencial2" placeholder="NOM_ID" class="form-control" formControlName="nomCredencial2" />
        <label for="credencial2" *ngIf=" fromBlksInfo.value.nomCredencial2 != '' " >API: Credenciales*</label>
        <input type="text" id="credencial2" placeholder="SDFGFFDS" class="form-control" formControlName="credencial2" *ngIf=" fromBlksInfo.value.nomCredencial2 != '' " required />
        
        <label for="nomCredencial3">API: Nombre de la credenciale 3*</label>
        <input type="text" id="nomCredencial3" placeholder="NOM_ID" class="form-control" formControlName="nomCredencial3" />
        <label for="credencial3" *ngIf=" fromBlksInfo.value.nomCredencial3 != '' " >API: Credenciales*</label>
        <input type="text" id="credencial3" placeholder="SDFGFFDS" class="form-control" formControlName="credencial3" *ngIf=" fromBlksInfo.value.nomCredencial3 != '' " required />
        
        <span style="color:Red;" *ngIf=" fromBlksInfo.value.nomCredencial1 != '' && fromBlksInfo.controls['credencial1'].touched && fromBlksInfo.controls['credencial1'].errors?.required">Dato requerido.</span>
        <span style="color:Red;" *ngIf=" fromBlksInfo.value.nomCredencial2 != '' && fromBlksInfo.controls['credencial2'].touched && fromBlksInfo.controls['credencial2'].errors?.required">Dato requerido.</span>
        <span style="color:Red;" *ngIf=" fromBlksInfo.value.nomCredencial3 != '' && fromBlksInfo.controls['credencial3'].touched && fromBlksInfo.controls['credencial3'].errors?.required">Dato requerido.</span>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button class="btn btn-primary" (click)="saveBlockInfo()" [disabled]="fromBlksInfo.invalid">Save</button>
  </div>
  